@mixin flex-box($x:column ,$y:0 ,$a:none ,$b:none,$c:none) {
    display: flex;
    flex-direction: $x;
    gap: $y;

    align-items: $a;
    justify-content: $b;
    text-align: $c;
}
@mixin card($a,$b,$c){
    padding: rem(16px);
    color: $a;
    border: rem(1px) solid $b;
    font-size: $c;
}